.form_textbox{
    padding: 3px;
    padding-left: 6px;
    margin-left: 20px;
    font-family: Roboto;
    font-weight: 300;
    width: 50%;
}

.edit_box {
    float: left;
    width: 60%;
}

.paper_box_entry {
    margin-bottom: 20px;
    margin-top: 20px;
}

.table_edit_textbox {
    margin-top: 2px;
    font-family: Roboto;
    font-weight: 300;
    max-width: 100%;
}

.author_table {
    border-spacing: 0;
    border-collapse: collapse;
    margin:0;
    margin-top: 5px;
}

.minus_sign {
    margin-left: 2px;
    font-size: 25px;
    line-height: 16px;
    color: white;
    text-align: center;
    background-color: rgba(255,0,0,0.8);
    border-radius:15px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.plus_sign {
    margin-top: 4px;
    margin-left: 2px;
    line-height: 16px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: #4285F4;
    border-radius:16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.upload_bibtex_box {
    float: right;
    width: 30%;
}

.select_menu {
    font-family: Roboto;
    font-weight: 300;    
    background-color: rgba(128,128,128,0.1);
    box-sizing: border-box;
    padding: 3px;
    width: 200px;    
    border: 1px solid #ccc;
    text-align: left;
    cursor: pointer;
}

.choose_file{
    margin:2px;
    font-family: Roboto;
    font-weight: 300;
}

.error_message{
    margin-top: 3px;
    font-size: 10px;
    font-weight: 300;
    color: red;
}

.okay_message{
    margin-top: 3px;
    font-size: 10px;
    font-weight: 300;
    color: green;
}

.delete_button{
    line-height: 20px;  
    background-color: #F44336;
    color:white;
    margin-top: 10px;
    padding:2px;
    padding-left:6px;
    max-width: 100px;
    border: 0px;
    border-radius: 2px;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.08) ;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.delete_button:hover{
    background-color : #D32F2F;
}
.bibtex_content {
    font-weight: 300;
    color: #445a64;
    max-width: 100%;
    font-size: 13px;
    font-family: Roboto, Helvetica, Arial;
    border: 1px solid;
    border-color: rgb(169, 169, 169);
    background-color: white;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: block;
    box-sizing: border-box;
    text-align: start;
}
