
.edit_profile_details {
    margin: 10px;
    margin-top: 15px;
}

.edit_name {
    margin-bottom: 30px;
}

.edit_research_areas {
    margin-bottom: 30px;
}

.description {
    margin-top: 3px;
    font-size: 10px;
    font-weight: 300;
    color: #445a64;
}

.edit_textbox {
    padding: 3px;
    padding-left: 6px;
    margin-left: 20px;
    font-family: Roboto;
    font-weight: 300;
    max-width: 100%;
}

.website_box {
    font-weight: 300;
    color: #445a64;
    max-width: 50%;
    font-size: 13px;
    font-family: Roboto, Helvetica, Arial;
    border: 1px solid;
    border-color: rgb(169, 169, 169);
    background-color: white;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: inline-block;
    text-align: start;
    margin-left: 20px;
    /*padding: 1em;*/
}

.submit_button {
    line-height: 20px;	
	background-color: #4285f4;
	color:white;
    margin-top: 10px;
	padding:2px;
    padding-left:6px;
	max-width: 100px;
	border: 0px;
	border-radius: 2px;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.08) ;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	cursor: pointer;
}

.submit_button:hover{
	background-color : #4173e9;
}

.description_box {
    font-weight: 300;
    color: #445a64;
    max-width: 70%;
    font-size: 13px;
    font-family: Roboto, Helvetica, Arial;
    border: 1px solid;
    border-color: rgb(169, 169, 169);
    background-color: white;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: inline-block;
    text-align: start;
    margin-left: 20px;
}

.edit_website {
    margin-bottom: 30px;
}
