div {
	/*position: relative;*/
}

body {
	font-family: 'Roboto';
	font-weight: 300;
}

#title_bar {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*background-image: url("images/logo.png");*/
	border-bottom:2px solid rgb(128,128,128) ;
	padding:20px;
	line-height: 36px;
}

a{
	text-decoration: none;
	color: inherit
}
a:visited{
	color: inherit;
}

#title_text {
	color: black;
	font-size: 36px;
}

#search_bar_container {
	overflow:auto;
	border-bottom : 1px solid rgb(160,160,160);
}

#search_bar {
	float:left;
	margin-top:10px;
	margin-left:5px;
	margin-bottom: 10px;
}

#research_areas {
	width: 65%;
	float:right;
}

#research_areas_container {
	margin-top: 30px;
	background-color: white;
	text-align: center;
}

#site_contributors {
	margin-top: 30px;
	margin-left: 10px;
	background-color: white;
	text-align: left;
}

.body_divs {
	min-height: 500px;
}

.research_area {
	overflow: auto;
	margin: 15px 0px 15px 10px;
	font-size: 21px;
}

.research_area_title {
	color: #263238;
	font-weight: 400;
}

.research_area_text {
	float:left;
	color: #4285f4;
	margin-top: 12px;
	margin-bottom: 5px;
	line-height: 20px;
	word-wrap: break-word;
	max-width: 400px;
	text-align: left;
	cursor:pointer;
}

.research_area_text:hover {
	color: #245de1;
}

.research_area_button {
	line-height: 20px;
	background-color: #4285f4;
	float: right;
	right: 0px;
	color:white;
	padding:10px;
	min-width: 200px;
	border: 0px;
	border-radius: 2px;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.08) ;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	font-size : 16px;
	cursor: pointer;
}

.research_area_button:hover{
	background-color: #4173e9;
}

.h_separator{
	height :0px;
	border-top: 1px solid #ddd;
}

.main_left_box {
	width:30%;
	float:left;
	margin: 30px 0;
	box-sizing: border-box;
	padding-right:10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.54;
	color: #445a64;
	box-sizing: border-box;
}

.search_box {
	width:160px;
	height:30px;
	padding:3px;
	border: solid 1px #ccc;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	vertical-align: top;
	box-sizing: border-box;
	font: 13px Arial;
	float: left;
}

.search_button {
	background: url('../images/search-icon.png');
	background-color: #4285F4;
	background-size: 15px 15px;
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	width:30px;
	height:30px;
	vertical-align: top;
	float:left;
}

.sign_in_link {
	line-height: 30px;
	font-size: 20px;
	margin-top:10px;
	float: right;
	margin-right: 5px;
}
.sign_in_link a:hover {
	color: blue;
}


/** Navigation **/
#navigation {
	display: inline-block;
	list-style: none;
	/**line-height: 100px;**/
	margin: 0;
	padding: 0;
	position: relative;
	right: -470px;
	/**width: 200px;**/
	/**height: 120px;**/
}
#navigationFooter {
	display: inline-block;
	list-style: none;
	/**line-height: 100px;**/
	margin: 0;
	padding: 0;
	position: relative;
	right: 0px;
	width: 200px;
	height: 120px;
}
#navigation ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation li {
	color: black;
	font-size: 36px
	/**float: left;**/
	width: 160px;
	text-align: center;
}
#navigation li a {
	color: black;
	font-size: 15px;
	line-height: 20px;
	/**text-decoration: none;**/
}
#navigation li a:hover {
	color: blue;
}
#navigationFooter  a:hover {
	color: #4173e9;
}
#navigationFooter  a {
	color: blue;
}
#navigation li.active a {
	color: #f99600;
}
