.list_header{
    overflow: auto;
    margin: .618em;
}

.list_entry {
    margin: 25px;
    margin-left: 10px;
}

.paper_title{
	color: #4285f4;
    font-size: 21px;
    font-weight: 300;
	line-height: 1.54;
	word-wrap: break-word;
	max-width: 600px;
	text-align: left;
	cursor:pointer;
}

.paper_title:hover {
	color: #245de1;
}

.author_names {
    color: #445a64;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.49;
    text-align: left;
}

.author_name, .author_name:visited {
    color: #4285f4;
}
.author_name:hover{
	color: #245de1;
}

.conference_journal_name {
    color: #445a64;
    font-size: 13px;
    line-height: 1.54;
    text-align: left
}
.rA_left_box {
    width:30%;
	float:left;
    margin: 0; 
    font-size: 14px;
    font-weight: 400;
    line-height: 1.54;
    color: #445a64;
    box-sizing: border-box;
	padding-right:10px;
}

.publications {
    color: #263238;
    font-weight: 400;
    float:left;
    font-size: 21px; 
    text-align: left;
    line-height: 1.29;
    overflow-y: hidden;
}

.sortby {
    float:right;
    font-size: 14px;
    text-align: right;
    color : black;
}

.whose_publication_filter {
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color : black
}

.edit_entry{
    float:right;
    font-size: 18px;
    text-align: right;
    color: #66BB6A;
    line-height: 1.54;
    margin-top: 6px;
}

.edit_entry :hover{
	color: #388E3C;
}
