
.profile_picture {
    display: block;
    margin-left: 2px;
    margin-bottom: 10px;
    /*margin: auto;*/
    max-width: 100%;
    border: 0;
    border-radius: 3px;
    /*box-shadow: 0 0 3px 0 rgba(0,0,0,0.33);*/
}

.profile_research_area , .profile_research_area:visited{
    color: #4285f4;
}
.profile_research_area:hover{
    color: #245de1;
}

.profile_website, .profile_website:visited{
    color: #4285f4;
}

.profile_website:hover{
    color: #245de1;
}

.image_error_message{
    text-align:left; 
    color:red;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 300px;
    font-family: Roboto;
}

.about_me {
    font-size: 14px;
    font-weight: 400;
    color: #445a64;
    margin: .618em;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: ease-in-out;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}



.rest_of_content {
    display: none;
}

#show_button {
    border-width: thin;
    border-color: rgba(128,128,128,0.3);
    background-color: rgba(128,128,128,0.1);
    box-sizing: border-box;
    border-radius: 3px;
    margin: 2px;
    margin-left: 0px;
    padding: 5px 3px 5px 3px;
    cursor: pointer;
}
