
.abstract_title {
    margin: .618em;
    color: #263238;
    font-weight: 400;
    font-size: 21px; 
    text-align: left;
    line-height: 1.29;
    display:inline-block;
}

.pubs_info {
    width:30%;
	float:left;
    margin: 0; 
    font-size: 14px;
    font-weight: 400;
    line-height: 1.54;
    color: #445a64;
    box-sizing: border-box;
	padding-right:10px;
}

.abstract_text {
    margin: 20px 5px 0 5px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.54;
    color: #445a64;
    box-sizing: border-box;
}

.mini_title {
    color: #263238;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    margin: 1.236em 0 .618em;
}

.mini_title_info {
    color: #445a64;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.54;
}

.author_names {
    color: #445a64;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.54;
}

.author_name, .author_name:visited {
    color: #4285f4;
}

.bibtex_box {
    font-weight: 300;
    color: #445a64;
    max-width: 100%;
    min-height: 20em;
    font-size: 13px;
    font-family: Roboto, Helvetica, Arial;
    border: 1px solid;
    border-color: rgb(169, 169, 169);
    background-color: white;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;    
    padding: 1em;
}

.pub_edit_entry {
    display:inline-block; 
    float:right; 
    line-height:1.29; 
    margin:14px; 
    margin-top:17px;
    font-size:18px;
    color: #66BB6A;
}
.pub_edit_entry:hover{
    color: #388E3C;
}