
.list_of_conflicts {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.accept_conflict {
    float:right;
    font-size: 18px;
    text-align: right;
    color: #66BB6A;
    line-height: 1.54;
    margin-top: 6px;
}

.conflicting_paper_title {
    font-size: 21px;
    font-weight: 300;
	line-height: 1.54;
	word-wrap: break-word;
	max-width: 600px;
	text-align: left;
}

.conflicting_link, .conflicting_link:visited {
    color: #4285f4;
    font-size: 13px;
    line-height: 1.54;
    text-align: left
}

.conflicting_box {
    color: #445a64;
    font-size: 13px;
    line-height: 1.54;
    text-align: left
}

.describing_box {
    margin-top: -15px;
    color: #445a64;
    font-size: 15px;
    line-height: 1.54;
    text-align: left
}
