
.results_list {
    width: 100%;
	float: left;
}

.research_area_checklist {
    display: none;
    background-color: white;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    border:1px solid #ccc; 
    width: 200px;
    font-size: 13px;
    max-height: 200px;
    overflow-y: scroll;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .research_area_checklist {
    display: block;
}

.filters {
    margin: 10px;
}

.research_area_box {
    background-color: rgba(128,128,128,0.1);
    box-sizing: border-box;
    padding: 3px;
    padding-left: 6px;
    width: 200px;    
    border: 1px solid #ccc;
    text-align: left;
    font-weight: 300;
    cursor: pointer;
}

.research_entry_in_list {
    margin-bottom: 30px;
}



.research_tick_box {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 1.54;
    float: left;
}

.box_label {
    line-height: 20.667px;
    float: right;
    width: 85%;
    text-align: left;
    word-wrap: break-word;
}
.arrow_down {
    float: right;
	width: 0; 
	height: 0; 
    margin-top: 7px;
    margin-right: 3px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid black;
}

.research_area_list_entry {
    overflow:auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.research_area_list_entry:hover{
    background-color: rgba(128,128,128,0.1);
}

.date_range {
    font-family: Roboto;
    font-size: 21px;
    box-sizing: border-box;
    font-weight: 300;    
    background-color: rgba(128,128,128,0.1);
    box-sizing: border-box;
    padding: 3px;
    width: 100px;
    border: 1px solid #ccc;
    text-align: left;
    cursor: pointer;
}

.date_range:hover{
    
}

.date_entry {
    font-size: 13px;
    font-weight: 300;
    background-color: white;
}



#date_flag {
    margin-left: 30px;
}

#author_flag {
    margin-left: 30px;
}

.flag_checkbox {
    margin-left: 30px;
}

#research_area_flag {
    margin-left: 10px;
}

#untick_all {
    
}

.tick {
    padding-left: 20px;
    padding-right: 30px;
}

.untick_all {
    float: left;
    text-decoration-line:underline;
}

.tick_all {
    float: right;
}
