
.sign_box {
    border: 0px solid black;
    width: 300px;
    height: 450px;
    padding: 40px 40px;
    margin: 0 auto 25px;
    margin-top: 100px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    font-size: 13px;
    overflow: auto;
    background-color: #f7f7f7;
}

.sign_in {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 44px; 
    font-size: 16px;
    display: block;
    padding: 0 8px; 
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    border-top: 1px solid #c0c0c0;
    border-bottom-left-radius: 2px; 
    vertical-align: top; 
    box-sizing: border-box;
    color: #404040;
}

.sign_in_button {
	background-color: #4285f4;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: 44px;
    line-height: 44px;
	color:white;
	border: 0px;
	border-radius: 2px;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.08) ;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	font-size : 16px;
    font-weight: 500;
	cursor: pointer;
}
.sign_in_button:hover {
	background-color: #4173e9;
}

.user_image {
    width=30%;
    height: 30%;
    margin: auto;
    display: block;
}
#signin_response {
	width: 100%;
	margin-top: 10px;
	text-align: center;
	color: red;
	font-style: italic;
}
